In [3]:
import pandas as pd
import time
from datetime import datetime

url1 = "https://www.worldometers.info/coronavirus/"

data1 = pd.read_html(url1)

str_time = str(time.time()) 
    
file_log_writer = open("/Users/prince/data/corona/" + "log.txt", "a")
file_writer = open("/Users/prince/data/corona/" + str_time + ".prn", "w")
    
file_writer.write(str(data1))
file_writer.close()

str_log = str_time + "\t\t" + str(datetime.now()) + "\n"
print (str_log)
    
file_log_writer.write(str_log)
file_log_writer.close()

1584300068.233641		2020-03-15 20:21:08.239858

In [4]:
data1

[           Country,Other  TotalCases NewCases  TotalDeaths  NewDeaths  \
 0                  China       80849      +25       3199.0       10.0
 1                  Italy       24747   +3,590       1809.0      368.0
 2                   Iran       13938   +1,209        724.0      113.0
 3               S. Korea        8162      +76         75.0        3.0
 4                  Spain        7798   +1,407        292.0       96.0
 ..                   ...         ...      ...          ...        ...
 154             Eswatini           1      NaN          NaN        NaN
 155                 Togo           1      NaN          NaN        NaN
 156  U.S. Virgin Islands           1      NaN          NaN        NaN
 157           Uzbekistan           1       +1          NaN        NaN
 158               Total:      167759    11187       6456.0      633.0

      TotalRecovered  ActiveCases  Serious,Critical  TotÂ Cases/1M pop
 0           66931.0        10719            3226.0              56.2
 1            2335.0        20603            1672.0             409.3
 2            4590.0         8624               NaN             165.9
 3             834.0         7253              59.0             159.2
 4             517.0         6989             272.0             166.8
 ..              ...          ...               ...               ...
 154             NaN            1               NaN               0.9
 155             NaN            1               NaN               0.1
 156             NaN            1               NaN               NaN
 157             NaN            1               NaN               NaN
 158         76598.0        84705            5811.0              21.5

 [159 rows x 9 columns]]

In [9]:
df1 = data1[0]
df1.to_csv(path_or_buf='output.txt', sep=',')