In [20]:
A = 3
B = 3

table = [[0 for x in range(B)]] * (A)

In [21]:
table

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [22]:
table[0] = [1 for x in range(0, B)]
for x in range(0, A):
    table[x][0] = 1
    
for x in table:
    print x

[1, 1, 1]
[1, 0, 0]
[1, 0, 0]

In [26]:
for x in range(1, A):
    for y in range(1, B):
        table[x][y] = table[x-1][y] + table[x][y-1]
        print (x, y)
        for z in table:
            print (z)

(1, 1)
[1, 1, 1]
[1, 2, 0]
[1, 2, 0]
(1, 2)
[1, 1, 1]
[1, 2, 3]
[1, 2, 3]
(2, 1)
[1, 1, 1]
[1, 3, 3]
[1, 3, 3]
(2, 2)
[1, 1, 1]
[1, 3, 6]
[1, 3, 6]

In [27]:
print table[A-1][B-1]

6

In [28]:
for x in table:
    print (x)

[1, 1, 1]
[1, 3, 6]
[1, 3, 6]